{% extends "blogs/base.html" %}
{% load static %}

{% block content %}
  <nav class="navbar navbar-dark bg-dark">
    <a class="navbar-brand" href="#">Navbar</a>
  </nav>
  <div class="container justify-content-center" style="margin-top: 3vh">
    <div class="card bg-light" style="margin-bottom: 2vh">
      <div class="card-body">
        <h5 class="card-title">Blog 1</h5>
        <h6 class="card-subtitle mb-2 text-muted">name 1</h6>
        <img src="{% static "blogpic.jpg" %}" class="rounded float-right" alt="Responsive image" style="max-width: 20%;">
        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
      </div>
    </div>
    <div class="card bg-light" style="margin-bottom: 2vh">
      <div class="card-body">
        <h5 class="card-title">Blog 1</h5>
        <h6 class="card-subtitle mb-2 text-muted">name 1</h6>
        <img src="{% static "blogpic.jpg" %}" class="rounded float-right" alt="Responsive image" style="max-width: 20%;">
        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
      </div>
    </div>
  </div>
{% endblock content %}
