{% extends "blogs/base.html" %}
{% load static %}

{% block content %}
  <nav class="navbar navbar-dark" style="background-color: #034DA2;">
    <a class="p-2 navbar-brand" href="#">Navbar</a>
  </nav>
  <div class="container-xl justify-content-center mt-4">
    {% for blog in object_list %}
    <a href="/b/{{ blog.id }}">
      <div class="card bg-light" style="margin-bottom: 2vh">
        <div class="card-body">
          <div class="float-end">{{ blog.yearpublished }}</div>
          <h5 class="card-title fs-3">{{blog.title}}</h5>
          <h6 class="card-subtitle mb-2 text-muted fs-5">{{blog.author}}</h6>
          <img src="{% static "blogpic.jpg" %}" class="rounded float-end" alt="Responsive image" style="max-width: 20%;">
          <p class="card-text">{{blog.text_area|slice:":30"}}...</p>
        </div>
      </div>
    <a>
    {% endfor %}
  </div>
{% endblock content %}
